@font-face {
   font-family: 'cuphead_font_by_ripoof_dept3h3';
   font-display: swap;
   src: url('file:///C:/Users/mateo/AppData/Local/Mobirise.com/Mobirise/projects/project-2026-06-26_173324/fonts/cuphead_font_by_ripoof_dept3h3/font.ttf');
}
